* {
  box-sizing: border-box;
}
body {
  background-image: url(img/mistelei_web1.jpg);
  background-attachment: fixed; /*das hat ja vielleicht gedauert, eh ich diese Funktion hatte, die das Wachsen und Beschneiden des Bildes so macht wie ich das will*/
  height: 100vh; /* Viewport Height= vh? scheinbar macht es keinen Unterschied ob heigth festgelegt ist oder nicht, aber W3school sagt man braucht es*/
  background-color: black;
  background-clip: border-box;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  background-color: chartreuse;
}
img {
  width: 100%;
}
#kreiserscheint {
  height: 100vh;
  display: block;
  text-shadow: black 5px 3px 5px;
  color: white;
  text-align: center;
  font-family: 'Scope One', serif;
  font-weight: bold;
  font-size: 5vh;
}
#keinkreis {
  width: 50vh;
  height: 50vh;
  position: relative;
  color: white;
  transform: translate(20%, 50%);
}
#einkreis {
  display: block;
  width: 50vh;
  height: 50vh;
  padding-inline-end: 50vh;
  position: absolute;
  transform: translate(0%, 0%);
  text-align: center;
  text-decoration: none;
  line-break: none;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.75);
  transition: 0.1s;
  color: transparent;
  background-color: ghostwhite;
  opacity: 0.1;
}
#ek2 {
  display: block;
  width: 40vh;
  height: 40vh;
  position: absolute;
  padding-inline-end: 40vh;
  text-align: center;
  text-decoration: none;
  transform: translate(5vh, 5vh);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
  color: transparent;
  background-color: ghostwhite;
  opacity: 0.2;
}
#ek3 {
  display: block;
  width: 30vh;
  height: 30vh;
  position: absolute;
  padding-inline-end: 30vh;
  text-align: center;
  text-decoration: none;
  transform: translate(10vh, 10vh);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
  color: transparent;
  background-color: ghostwhite;
  opacity: 0.3;
}
#ek4 {
  display: block;
  width: 20vh;
  height: 20vh;
  position: absolute;
  text-align: center;
  text-decoration: none;
  transform: translate(15vh, 15vh);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
  background-color: ghostwhite;
  color: transparent;
  opacity: 0.4;
  padding: 3vh;
}
#einkreis:hover {
  opacity: 0.7;
  color: white;
  background-color: rgba(250, 1, 248, 0.788);
}
#ek2:hover {
  opacity: 0.7;
  color: white;
  background-color: rgba(220, 1, 248, 0.788);
}
#ek3:hover {
  opacity: 0.7;
  color: white;
  background-color: rgba(190, 1, 248, 0.788);
}
#ek4:hover {
  opacity: 0.8;
  color: white;
  background-color: rgba(160, 1, 248, 0.788);
}
footer {
  background-color: hotpink;
}
.kreissite {
  color: black;
  align-items: center;
  background-color: rgba(248, 248, 255, 0.5);
  height: 100vh;
} /*wenn da mal inhalt drin ist kann die height wahrscheinlich weg*/
h2 {
  text-shadow: black 3px 3px 9px;
  color: black;
  text-align: center;
  font-size: 5vh;
}
#topbutton{display: inline-block;
text-align: center;
background-color:  rgba(160, 1, 248, 0.788);
margn: auto;
padding: 3vh;}
